table {
    border: 2px solid black;
    width: 95% ;
    height: 200px;
    margin: 1% 2%;
  }
    
  th {
    border-bottom: 1px solid black;
  }
    
  td {
    text-align: center;
  }

  left {
    display: flex;
    align-self: flex-start;
}